<%- include('partials/header.ejs'); -%>

<div class="loading-spinner" id="loadingSpinner" style="display: none;"></div>



<div class="sort">
    <h3>Sort by:</h3>
    <form action="/sort" method="POST" class="sort-form">
        <button class="sort-button" type="submit" name="sort" value="title">Title</button>
        <button class="sort-button" type="submit" name="sort" value="id">Added</button>
        <button class="sort-button" type="submit" name="sort" value="author">Author</button>
        <button class="sort-button" type="submit" name="sort" value="year">Year</button>
        <button class="sort-button" type="submit" name="sort" value="rate">Rate</button>
    </form>
</div>


<div class="my-list">
    <% if (books) { %>
        <% for (let book of books) { %>
            <div class="book-item">
                <img src="<%= book.cover %>" alt="<%= book.title %> cover image" class="book-image">
                <div class="book-details">
                    <h2 id="title<%= book.isbn %>">
                        <%= book.title %>
                    </h2>
                    <h3>
                        <%= book.author %>
                    </h3>
                    <h4>
                        <%= book.year %>
                    </h4>
                    <div class="star-rating">
                        <% 
                            const fullStars = Math.floor(book.rate);
                            //const halfStar = (book.rate % 1) >= 0.5 ? 1 : 0;
                            const emptyStars = 5 - fullStars ;

                            for (let i = 0; i < fullStars; i++) { 
                        %>
                            <span class="star">★</span>
                        <% } %>
                        
                        <% for (let i = 0; i < emptyStars; i++) { %>
                            <span class="star">☆</span>
                        <% } %>
                        <h5 class="rating-text"><%= book.rate %> / 5.0</h5> <!-- Move h5 here to be in the same line -->
                    </div>
                </div>

                <form action="/delete" method="POST">
                    <input type="hidden" name="book_id" value="<%= book.isbn %>">
                    <button type="submit" class="delete-button">Remove</button>
                </form>


            </div>
        <% } %>
    <% } else { %>
        <h2>Search for books and add it to your list!</h2>
    <% } %>
</div>

<script>
  document.querySelector('.search-form').addEventListener('submit', function() {
    document.getElementById('loadingSpinner').style.display = 'block';
    
  });
</script>

<%- include('partials/footer.ejs'); -%>
