<%- include('partials/header.ejs'); -%>

<div class="loading-spinner" id="loadingSpinner" style="display: none;"></div>

<div class="my-list">
    <% if (books) { %>
        <% for (let book of books) { %>
            <div class="book-item">
                <img src="<%= book.cover_i %>" alt="<%= book.title %> cover image" class="book-image">
                <div class="book-details">
                    <h2 id="title<%= book.isbn %>">
                        <%= book.title %>
                    </h2>
                    <h3>
                        <%= book.author %>
                    </h3>
                    <h4>
                        <%= book.year %>
                    </h4>
                    
                    <!-- Adding Star Rating Representation and h5 in the same line -->
                    <div class="star-rating">
                        <% 
                            const fullStars = Math.floor(book.rate);
                            const emptyStars = 5 - fullStars;

                            for (let i = 0; i < fullStars; i++) { 
                        %>
                            <span class="star">★</span>
                        <% } %>
                        
                        <% for (let i = 0; i < emptyStars; i++) { %>
                            <span class="star">☆</span>
                        <% } %>
                        <h5 class="rating-text"><%= book.rate %> / 5.0</h5> <!-- Move h5 here to be in the same line -->
                    </div>

                </div>
                <form class="item" action="<%= book.is_favorite ? '/delete' : '/add' %>" method="post">
                    <button class="add" type="submit" name="<%= book.is_favorite ? 'book_id' : 'list' %>" value="<%= book.isbn %>">
                        <%= book.is_favorite ? '-' : '+' %>
                    </button>
                </form>
            </div>
        <% } %>
    <% } else { %>
        <h2>No results! </h2>
    <% } %>
</div>

<script>
  document.querySelector('.search-form').addEventListener('submit', function() {
    document.getElementById('loadingSpinner').style.display = 'block';
    
  });
</script>


<%- include('partials/footer.ejs'); -%>